.background {
    background-image: url("/assets/img-fundo.jpg");
    height: 30vh;
    max-width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
}

.container-quarto {
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: center;
    width: 75vw;
    padding-left: 12vw;
    padding-bottom: 5vh;
}

.container-quarto img {
    width: 350px;
    height: 200px;
    padding: 0.5vh;
}

.quartos-lista h4 {
    display: flex;
    justify-content: center;
    text-align: center;
    line-height: 3rem;
}

.quartos-lista ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    text-align: left;
}

.quartos-lista li {
    width: 25%;
    margin-left: 65px;
    margin-bottom: 5vh;
    text-align: left;
    padding: 3vh;
}